@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3{
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


main {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 77vh;
    background-color: black;
}

main a {
    color: white;
}

.quote-container {
    color: white;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.quote-container p {
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
    font-weight: lighter;
}

.quote-container h2 {
    text-align: right;
    padding: 20px;
}

.quote-list {
    text-align: left;
    color: white;
    margin: 5%;
}

.quote-list h3 {
    padding: 20px;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}

header {
    padding: 25px;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header #brand {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
}

header #brand img {
    margin: 0 10px;
}

header #brand a {
    color: black;
}

nav {
    margin: 0 5%;
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul a {
    color: black;
}

nav ul li {
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
}

nav ul li:hover {
    border-bottom: 2px solid black;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 40vh;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: "Abril Fatface", cursive;
}

.mobile-menu li a {
    color: black;
}

.mobile-menu li a:hover {
    border-bottom: 2px solid #f7f7de;
}

@media only screen and (max-width: 1080px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}

/*-----------------------------------Table-------------------------------------*/
.main_container{
    display: flex;
    justify-content: center;
    align-content: center;
}

table{
    border-collapse: collapse;
    width: 1000px;
    background-color: white;  
}
  
table td, .main_container th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50%;
}
  
table td a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
  
table td a:hover{
    color: red;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: black;
}


/* ------------------------------Footer------------------------------------*/

footer {
    text-align: center;
    background-color: white;
    font-size: 20px;
    padding: 20px;
    color: black;
}

/* ------------------------------Page Auteur------------------------------------*/

.container-auteur {
    column-count: 3;
    text-align: center;
    column-gap: 12rem;
    color: white;
    margin: 5%;  
}

.container-auteur p {
    font-size: 18px;
    padding: 10px; 
}

@media only screen and (max-width: 950px) {
    .container-auteur {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 10rem;
    }
}

@media only screen and (max-width: 450px) {
    .container-auteur {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/* ------------------------------Formulaires Add & Edit backoffice------------------------------------*/


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.form-container h3{
    font-size: 28px;
    padding-bottom: 25px;
}

.form-auteur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-auteur form input[name="lastName"],
.form-auteur form input[name="firstName"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    /* display: block; */
    margin-bottom: 15px;
    border: none;
    background: transparent;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    font-size: 18px;
    background-color:white;
}


.form-aut-cit {
    display: block;
    margin-top: 10%;
}

.form-aut-cit form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-aut-cit input[name="citation"]{
    height: 100px;
    width: 600px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.form-auteur form label {
    padding: 5px;
    color: white;
}

select{
    height: 30px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

select option{
    background-color:#f2f2f2;
    height: 30px;
    font-size: 18px;
}

button {
    border: none; 
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    width: auto;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ------------------------------Page Citations d'auteur----------------------------------*/


.aut-cit {
    color: white;
    margin: 5%;
    text-align: center;
}

.aut-cit h3{
    font-size: 26px;
    text-decoration: underline;
    padding: 10px;
}

.aut-cit p {
    padding: 20px;
    font-size: 18px;
}
 

 
